:root {
    /* base */
    --theme-color: #F7D352 !important;
    --theme-color2: #F2B149;
    --dark-theme-color: #08090B;
    --base-font-family: "Muli", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    --base-font-size: 16px;
    --base-line-height: 1.7;

    /* cover */
    --cover-background-color: var(--theme-color);
    --cover-color: --dark-theme-color;
    --cover-heading-color: var(--dark-theme-color);
    --cover-heading-font-size: 2rem;
    --cover-heading-font-weight:normal;
    --cover-link-color: --dark-theme-color;
    --cover-button-border: 1px solid #fff !important;
    --cover-button-border-radius: 20px;
    --cover-button-background: #fff;
    --cover-button-background--hover: #fff;
    --cover-button-color: --dark-theme-color;
	--cover-button-color--hover: var(--theme-color);
	--cover-max-width: 700px;

    /* nav */
    --sidebar-nav-link-color: #000;
    --sidebar-border-color: var(--theme-color2);
    --sidebar-border-width: 0 1px 0 0;
    --search-input-border-color: #fff;

    /* code */
    --code-font-family: Menlo, Monaco, 'Courier New', monospace;
    --code-theme-background: var(--dark-theme-color);
    --code-theme-text: var(--theme-color);
    --code-theme-comment: #8BC4EE;
    --code-theme-keyword: #C7DBF9;
    --code-theme-class-name:var(--theme-color);
    --code-theme-class-name-font-weight: 800;
    --code-theme-punctuation: #F6F6F4;
    --code-theme-function: #CCF1DF;
    --code-theme-operator: #FEF6D8;
	--code-theme-selector: #c6c6c6;
	
	/* inline code */
	--code-inline-border-radius: 6px;
	--code-inline-background: var(--theme-color) !important;
	--code-inline-color: var(--dark-theme-color) !important;

    /* panels */
    --docsify-example-panels-left-panel-width: 50%;
    --docsify-example-panels-right-panel-width: 50%;
}

.cover {
    background-color: var(--theme-color);
}

body .cover .cover-main {
    position: static;
    padding:50px 15px;
}

body .cover .cover-main > p:first-child {
    position: absolute;
    top: 0px;
    left: 50%;
    transform: translate(-50%);
}

body .cover .cover-main h1 {
    background-image: url('_images/sprucebot.svg');
    background-repeat: no-repeat;
    background-position: left 9px;
    padding-left:40px;
}

/* body .cover h1 a {
   text-indent: 10px; 
} */


body .cover .cover-main > p a {
    background-color: #fff !important;
    color: var(--dark-theme-color) !important;
}

.github-corner svg {
    fill: #fff;
    color: var(--theme-color);
}

body main {
    background-image: url(_images/bg.png);
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: contain;
}

body aside.sidebar {
    background-color: var(--theme-color);
}

/* code samples */
.token.class-name {
    color: var(--code-theme-class-name);
    font-weight: var(--code-theme-class-name-font-weight);
}

pre.language-bash:first-of-type {
	box-shadow: 0 22px 70px 4px rgba(0, 0, 0, 0.56);  
	position: relative;
	padding-top: 50px !important;
	border-radius: 10px 10px 0 0 !important;
} 

pre.language-bash:first-of-type::before {
	content: url('/_images/controls.png');
	background-color: black;
	position: absolute;
	left:0px;
	line-height: 60px;
	text-indent: 1em;
	right:0px;
	top:0px;
	height:50px;
}

pre.language-bash:first-of-type::after {
	top:20px;
	right:20px;
}


/* panels */
