@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@200;600;700&display=swap");

:root {
	/* header logo */
	--header-logo-mark-fill: #fff;
	--header-logo-name-fill: white;
	--sprucebot-avatar-color: white;
	--left-nav-logo-mark: #514a9d;
	--left-nav-logo-text: #514a9d;

	--code-function-color:  #24c6dc;

    /* base */
    --theme-color: transparent !important;
    --theme-color2: transparent;
    --dark-theme-color:white;
    --base-font-family: Mulish;
    --base-font-size: 16px;
    --base-line-height: 1.7;

	/* cover */;
    /* --cover-background-color: linear-gradient(to left, #24c6dc, #514a9d) !important; */
    --cover-color: var(--dark-theme-color);
    --cover-heading-color: var(--dark-theme-color);
    --cover-heading-font-size: 2rem;
    --cover-heading-font-weight:normal;
    --cover-link-color: --dark-theme-color;
    --cover-button-border: 1px solid #fff !important;
    --cover-button-border-radius: 20px;
    --cover-button-background: #fff;
    --cover-button-background--hover: #fff;
    --cover-button-color: black;
    --cover-button-primary-color: black;
	--cover-button-color--hover: #514a9d;
	--cover-max-width: 700px;


    /* nav */
    --sidebar-nav-link-color: #000;
    --sidebar-border-color: var(--theme-color2);
    --sidebar-border-width: 0 1px 0 0;
    --search-input-border-color: #fff;

    /* code */
    --code-font-family: Menlo, Monaco, 'Courier New', monospace;
    --code-theme-background: linear-gradient(to left, #24c6dc, #514a9d);
    --code-theme-text: white;
    --code-theme-comment: #8BC4EE;
    --code-theme-keyword: #C7DBF9;
    --code-theme-class-name: white;
    --code-theme-class-name-font-weight: 800;
    --code-theme-punctuation: #F6F6F4;
    --code-theme-function: #CCF1DF;
    --code-theme-operator: #FEF6D8;
	--code-theme-selector: #c6c6c6;
	
	/* inline code */
	--code-inline-border-radius: 6px;
	--code-inline-background: linear-gradient(to left, #24c6dc, #514a9d) !important;
	--code-inline-color: var(--dark-theme-color) !important;


    /* panels */
    --docsify-example-panels-left-panel-width: 50%;
    --docsify-example-panels-right-panel-width: 50%;
}

#header-logo-mark {
	fill: var(--header-logo-mark-fill);
}

.header-logo-name {
	fill: var(--header-logo-name-fill);
}

.sprucebot-avatar {
	fill: var(--sprucebot-avatar-color);
}

.sprucebot-avatar-mouth {
	stroke: var(--sprucebot-avatar-color);
}

.app-name-link .logo {
	fill: var(--left-nav-logo-mark);
}

.app-name-link .logo-text-wrapper {
	fill: var(--left-nav-logo-text);
}

body .cover::after,
body .cover::before {
	display: none;
}

body .cover {
	background: linear-gradient(to left, #24c6dc, #514a9d) !important;
}

body .cover .cover-main {
	position: static;
    padding:50px 15px;
}

body .cover .mask {
	background: var(--cover-mask-background, transparent);
}

body .cover .cover-main > p:first-child {
    position: absolute;
    top: 0px;
    left: 50%;
    transform: translate(-50%);
}

body .cover .cover-main h1 svg {
	margin-right:10px;
	position: relative;
	top:3px;
}

/* body .cover h1 a {
   text-indent: 10px; 
} */

body .cover .cover-main > p:not(:first-of-type) a {
    background-color: #fff !important;
}

.github-corner svg {
    fill: #fff;
    color: var(--theme-color);
}

body main {
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: contain;
}

body aside.sidebar {
    background-color: var(--theme-color);
}


/* code samples */
body pre {
	transition: opacity 500ms;
	translate: translate(100px, 0px);
	opacity: 0;
	background: var(--code-background, rgb(39, 40, 34)) !important;
	color: var(--code-theme-text) !important;
}

body code[class*="language-"], pre[class*="language-"] {
	color:var(--code-theme-text);
}


.loaded pre[class] {
	opacity: 1;
}



pre.language-bash:first-of-type {
	box-shadow: 0 22px 70px 4px rgba(0, 0, 0, 0.56);  
	position: relative;
	padding-top: 50px !important;
	border-radius: 10px 10px 0 0 !important;
} 

pre.language-bash:first-of-type::before {
	content: url('/_images/controls.png');
	background-color: black;
	position: absolute;
	left:0px;
	line-height: 60px;
	text-indent: 1em;
	right:0px;
	top:0px;
	height:50px;
}

pre.language-bash:first-of-type::after {
	top:20px;
	right:20px;
}

pre .token.comment {
	color: var(--code-comment-color,slategray);
}

pre .token.function {
	color: var(--code-function-color,#e6db74);
}

pre .token.keyword {
	color: var(--code-keyword-color,#66d9ef);
}

pre .token.string {
	color: var(--code-string-color,#a6e22e );
}

pre .token.class-name {
    color: var(--code-theme-class-name);
    font-weight: var(--code-theme-class-name-font-weight);
}

/* Left col */
.sidebar-nav p:first-child {
	color: var(--sidebar-nav-link-color);
}

.video {
	transition: all 1s;
}

body .sidebar>h1 {
	text-align: left;
	padding-bottom:0px;
	margin-bottom:0px;
}

body .sidebar>h1 img {
	height: 40px;
}

body .sidebar .search input[type="search"] {
	border: 1px solid rgb(77,77,77);
}

@media screen and (max-width: 500px) {
	.markdown-section {
		padding-right: 0px;
		padding-left: 24px;
	}
}